@font-face {
  font-family: "Continuum";
  src: url("../artikel/fonts/Cont/contm.ttf");
}

.blog-header {
  width: 100%;
  height: 695px;
  background-image: url("../img/bg-blog.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain
}

.single-header {
  width: 100%;
  height: 695px;
  background-image: url("../img/bg-blog1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-page-content {
  font-size: 36px;
  padding: 0 7%;
}

.blog-page {
  width: 100%;
  margin-top: 3%;
  float: left;
  display: grid;
  grid-template-columns: 50% 35% 15%;
}

.page-content {
  margin-top: 1em;
  margin-left: 0.5em;
}

.page-content a {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: normal;
  color: #000000;
}

.section-numbering {
  grid-template-columns: 50% 50%;
  display: grid;
  margin-top: 0.6em;
  margin-left: 0.5em;
}

.focus-numbering {
  font-weight: bold;
  font-size: 1.5em;
  color: #009C24;
  text-align: right
}

.total-numbering {
  font-size: 0.8em;
  font-weight: 500;
  padding-top: 35%;
}

.label-header {
  margin: 15em 6%;
  position: absolute;
  max-width: 50%
}

.label-header p {
  font-size: 1.8em;
  margin-right: 10%;
  margin-top: 2em
}

.label-header h1 {
  font-size: 6em;
  font-weight: 100;
  text-transform: capitalize;
  line-height: 55px;
  margin: 0.4em 0;
  font-family: "Continuum"
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin-bottom: 1em;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 0.5em
}

.pagination a.active {
  background: linear-gradient(to right, #01AC68, #007F78);
  color: white;
  border-radius: 10px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 10px;
}

@media only screen and (max-width: 1205px) {
  .blog-header {
    background-size: cover;
  }
}

@media only screen and (max-width: 1105px) {
  .blog-header {
    background-position: center
  }
  .focus-numbering {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 1005px) {
  .focus-numbering {
    font-size: 1.3em;
  }
  .blog-header {
    background-image: url("../img/bg-blog-1.png");
    background-position: right;
  }
}

@media only screen and (max-width: 905px) {
  .blog-page {
    grid-template-columns: 65% 15% 20%;
  }
  .label-header {
    margin: 17em 8%;
  }
  .label-header h1 {
    font-size: 5em;
  }
  .btn-content a {
    font-size: 1rem;
    margin-top: 1.5em;
  }
  .focus-numbering {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 790px) {
  .btn-content {
    text-align: left !important;
  }
  .page-content a {
    font-size: 17px;
  }
  .focus-numbering {
    font-size: 1.2em;
  }
  .total-numbering {
    font-size: 0.6em;
    padding-top: 40%;
  }
}

@media only screen and (max-width: 700px) {
  .label-header {
    margin: 19em 8%;
  }
  .label-header h1 {
    line-height: 40px;
    margin: 0.4em 0;
    font-size: 4em;
  }
  .btn-content a {
    margin-top: 2.5em;
    padding: 0 41px;
    font-size: 0.8rem;
  }
  .focus-numbering {
    font-size: 1.15em;
  }
}

@media only screen and (max-width: 640px) {
  .blog-header {
    background-image: url("../img/bg-blog-2.png");
  }
  .blog-page {
    grid-template-columns: 65% 10% 25%;
  }
  .label-header {
    margin: 8em 38% 0;
    text-align: center;
  }
  .label-header h1 {
    line-height: 30px;
    font-size: 3em;
  }
  .btn-content a {
    display: none;
  }
  .page-content a {
    font-size: 15px;
  }
  .focus-numbering {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 600px) {
  .label-header {
    margin: 8em 38% 0;
  }
}

@media only screen and (max-width: 400px) {
  .label-header {
    margin: 8em 35% 0;
  }
}